<%- include("header") -%>


<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Expedita blanditiis necessitatibus cupiditate nemo possimus?
     Deserunt molestias veniam autem sint quas.</p>

     <%- include("footer") -%>